
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 10px;
    margin: 20px;
}

html {
    height: 95vh;
}

header {
    text-align: center;
}

div {
    margin-bottom: auto;
}
.bottom {
    padding-bottom: 5px;
}

.edge {
   margin-bottom: auto;
    float: left;
    width: auto;
}

h1 {
    color: #00008b;
}


h2 {
    color: #00008b;
}

h3 {
    text-align: center;
}

p {
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin-bottom: 10px;
}

hr.blue {
    border-top: 1px solid #00008b;
    width: auto;
}

.contact-box {
    border: 1px solid #00008b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
    width: 240px;
}

.name-box {
    border-bottom: solid blue;
    border-top: solid blue;
    margin-bottom: 8px;
}

.container {
    position: relative;
}

/*link button style*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced*/
a:link, a:visited {
    background-color: #554dc5;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: olive;
}
/*drop down style*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_right*/
.dropbtn {
    display: block;
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: whitesmoke;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #3e8e41;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*biosketch list*/
.itemH {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    font-style: bold;
  }

  .itemV {
    font-family: 'Times New Roman', serif;
  }

/*projects /biosketch table*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}