#logins {
    font-family: Garamond, serif;
    border-collapse: collapse;
    width: 100%;
}

#logins td,
#logins th {
    border: 1px solid #ddd;
    padding: 8px;
}

#logins tr:nth-child(even) {
    background-color: #f2f2f2;
}

#logins tr:hover {
    background-color: #ddd;
}

#logins th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}