main {
    display: flex;
    align-items: center;
    justify-content: center;
}

area {
    outline: 5px solid var(--red);
}

.container {
    position: relative;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
}