body {font-family: arial;
    background-color: rgb(237, 173, 240);}

h1 {color: #6f6f6f; font-size: 500%; text-align-last: center}

h1.alt{
    color: rgb(152, 203, 227);
    font-weight: bold;
    font-size: 400%;
    text-align-last: center;
    
}

p {color: #573131; font-size: 200%; text-align-last: center}

p.alt:hover {
    color: rgb(118, 196, 128)
}

.myVideo {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

figure {
    margin: 0;
}

.myBorder {
    margin: 0 auto;
    border: 10
}



.myBox {
            border: 5px #523366;
            text-align: center;
            height: auto;
            margin: auto;
            padding: 20px 0;
        }

        .myBox img {
            border: 3px solid rgb(82, 51, 102);
            margin-right: 10px;
            padding: 8px;
            filter: drop-shadow(5px 5px 5px rgb(88, 128, 191));
        }

        .myBox img: last-child {
            margin-right: 0;
        }



.myAudio {
    
    text-align: center;
}